h1 {
  margin-top: 1em;
}
.openingModal {
  position: fixed;
  background-color: rgb(198,198,198);
  width: 80%;
  margin-top: 3em;
  margin-left: 10%;
  text-align: center;
  border-radius: 2em;
}
.openingModal p {
  width: 90%;
  margin-left: 5%;
}
.openingModal button {
  display: block;
  margin: 0.5em auto;
}
