<!DOCTYPE html>
<html ng-app="OfficeTrivia">
  <head>
    <meta charset="utf-8">
    <title>Yo!</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="css/main.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="js/app.js"></script>
  </head>
  <body ng-controller="MainController as main">

  <div class="openingModal">
    <h1>Superfan Trivia: Office Edition!</h1>
    <p>Welcome to Superfan Trivia: Office Edition - the web's open-source (American version) Office trivia game!</p>
    <p>Since this is an open-source game, you get to make the game better by adding more (and tougher) questions to stump fellow Superfans.  The more questions you help create, the more fun you can help spread to other fans of The Office.</p>
    <p>Keep coming back to answer more questions and see new game updates, and your confidence will soar.  Toby-out and leave, and you'll feel like a real Nellie.</p>
    <button class="opening" ng-click="main.getFirstQuestion();">Answer Questions</button>
    <button class="opening" ng-click="main.writeQuestions();">Write Questions</button>
    <small>Dreamed up, coded, and maintained by <a href="http://www.joshedgell.com" target="blank">Josh Edgell</a> </small>
  </div>

  <div class="questionDiv" ng-show="main.showQuestionDiv">
    <h3>{{main.currentQuestion.question}}</h3>
    <button class="answerButton" ng-click="main.checkAnswer(0);">{{main.currentQuestion.answers[0]}}</button>
    <button class="answerButton" ng-click="main.checkAnswer(1);">{{main.currentQuestion.answers[1]}}</button>
    <button class="answerButton" ng-click="main.checkAnswer(2);">{{main.currentQuestion.answers[2]}}</button>
    <button class="answerButton" ng-click="main.checkAnswer(3);">{{main.currentQuestion.answers[3]}}</button>
  </div>

  <div class="correctAnswer" ng-show="main.showCorrectDiv">
    <h3>You got that correct!</h3>
    <button ng-click="main.getAnotherQuestion();">Answer Another Question</button>
    <button ng-click="main.writeQuestions();">Write a Question</button>
  </div>

  <div class="incorrectAnswer" ng-show="main.showIncorrectDiv">
    <h3>You missed that one!</h3>
    <button ng-click="main.getAnotherQuestion();">Try Another Question</button>
    <button ng-click="main.writeQuestions();">Write a Question</button>
  </div>

  <div class="writeQuestionsDiv" ng-show="main.writeQuestionsDiv">
    <h1>Write Questions!</h1>
    <div class="create">
      <form ng-submit="main.createQuestion()">
        Question: </br>
        <textarea class="questionInput" ng-model="main.newQuestion.question"></textarea>
        </br>
        <div class="answerInputs">
          <div class="correctInput">
            Correct Answer: <input type="text" ng-model="main.newQuestion.answer">
          </div>
          <div class="incorrectInput">
            Incorrect Answers: <input type="text" ng-model="main.newQuestion.distractors[0]"></br>
            <input type="text" ng-model="main.newQuestion.distractors[1]"></br>
            <input type="text" ng-model="main.newQuestion.distractors[2]"></br>
          </div>
        </div>
        <input type="submit" class="submitNew" value="Create Question"/>
      </form>
    </div>
  </div>

  <div class="reviewQuestionDiv" ng-show="main.showReviewQuestion">
    <h1>Thank you, Superfan!</h1>
    <p>Every new question makes Superfan Trivia more...super!</p>
    <p>Thank you for contributing to open-source trivia.</p>
    <button class="opening" ng-click="main.getAnotherQuestion();">Answer Questions</button>
    <button class="opening" ng-click="main.writeQuestions();">Write Another Question</button>
  </div>




    <!-- <h1>Welcome to the Office Trivia App!</h1>
    <div class="create">
      <form ng-submit="main.createQuestion()">
        Question: <input type="text" ng-model="main.newQuestion.question"></br>
        Answer: <input type="text" ng-model="main.newQuestion.answer"></br>
        Distrator 1: <input type="text" ng-model="main.newQuestion.distractors[0]"></br>
        Distractor 2: <input type="text" ng-model="main.newQuestion.distractors[1]"></br>
        Distractor 3: <input type="text" ng-model="main.newQuestion.distractors[2]"></br>
        <input type="submit" value="Create Question"/>
      </form>
    </br></br>
    </div>

    <div class="random">
      <div class="showQuestion">
        <button ng-click="main.getRandomQuestion();">Get Random Question</button>
        <button ng-click="main.showEdit = !main.showEdit">Edit Options</button>
        <div ng-show="main.showQuestion">
          <p>{{main.currentQuestion.question}}</p>
            <button ng-click="main.checkAnswer(0);">{{main.currentQuestion.answers[0]}}</button>
            <button ng-click="main.checkAnswer(1);">{{main.currentQuestion.answers[1]}}</button>
            <button ng-click="main.checkAnswer(2);">{{main.currentQuestion.answers[2]}}</button>
            <button ng-click="main.checkAnswer(3);">{{main.currentQuestion.answers[3]}}</button>
          </div>
        </div>
      </div>
      <div class="editQuestion" ng-if="main.showEdit">
        <textarea ng-model="main.currentQuestion.question"></textarea></br>
        <div>
          <input type="text" ng-model="main.currentQuestion.answers[0]"></br>
          <input type="text" ng-model="main.currentQuestion.answers[1]"></br>
          <input type="text" ng-model="main.currentQuestion.answers[2]"></br>
          <input type="text" ng-model="main.currentQuestion.answers[3]"></br>
        </div>
        <button ng-click="main.editQuestion(main.currentQuestion.id);">Edit Question</button>
        <button ng-click="main.deleteQuestion(main.currentQuestion.id);">Delete Question</button>
      </div>
    </div> -->

  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <script src="js/main.js"></script>
  </body>
</html>
