<!DOCTYPE html>
<html ng-app="OfficeTrivia">
  <head>
    <meta charset="utf-8">
    <title>Yo!</title>
    <link rel="stylesheet" href="main.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="app.js"></script>
  </head>
  <body ng-controller="MainController as main">
    <h1>Welcome to the Office Trivia App!</h1>
    <form ng-submit="main.createQuestion()">
      Question: <input type="text" ng-model="main.newQuestion.question"></br>
      Answer: <input type="text" ng-model="main.newQuestion.answer"></br>
      Distrator 1: <input type="text" ng-model="main.newQuestion.distractors[0]"></br>
      Distractor 2: <input type="text" ng-model="main.newQuestion.distractors[1]"></br>
      Distractor 3: <input type="text" ng-model="main.newQuestion.distractors[2]"></br>
      <input type="submit" value="Create Question"/>
    </form>
  </body>
</html>
